.timezone-select {
    /* margin-top: 41px; */
    margin-bottom: 31px;

}

.timezone-title {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    line-height: 20px;
}

.select-wrapper {
    width: 400px;
    max-width: 100%;
}